*{
   margin: 0;
   padding: 0%;
   box-sizing: border-box;
   font-size: x-large; 
}
.div1{
    width: 100%;
    height: 768px;
}
.logo1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: inline-start;
    padding: 30px;
    color: rgb(45, 45, 148);
} 
.logo2{
    padding: 30px;
    float: right;
}
.logo3{
    padding: 30px;
    float: right;
}
.logo4{
    padding: 30px;
    float: right;
    color: rgb(0, 142, 145);
}
.img{
    display: inline;
    width: 441px;
    height: 534px;
    float: right;
    margin-right: 190px;
}
.logo5{
    display: inline;
    padding-left: 90px;
    font-size: 40px;
}
.img2{
    width: 380;
    height: 60px;
    margin-left: 130px;

}
.logo6{
    font-size: xx-large;
    padding: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo7{
    display: inline;
    padding-left: 90px;
}
.logo8{
    padding-left: 90px;
}
.logo9{
    padding-left: 90px;
}
.logo10{
    padding-left: 90px;
    font-size: 40px;
}
.img3{
    width: 182px;
    height: 132px;
}
.sdiv1{
    margin: 15px;
    width: 380px;
    height: 525px;
}
.logo11{
    padding-left: 30px;
}
.logo12{
    padding-left: 30px;
    font-size: large;
}
.sdiv2{
    margin: 15px;
    width: 380px;
    height: 525px;
}
.img4{
    width: 224px;
    height: 197px;
}
.logo13{
    padding-left: 30px;
}
.logo14{
    padding-left: 30px;
    font-size: large;
}
.logo15{
    padding-left: 30px;
}
.logo16{
    padding-left: 30px;
    font-size: large;
}
.sdiv3{
    margin: 15px;
    width: 380px;
    height: 525px;
}
.img5{
    width: 156px;
    height: 131px;
}
.DIV1{
    display: flex;
    justify-content: center;
}
.adiv2{
    width: 100%;
    height: 1600px;
}
.img6{
    width: 182px;
    height: 132px;
}
.sdiv4{
    margin: 15px;
    width: 380px;
    height: 525px;
}
.logo17{
    padding-left: 30px;
}
.logo18{
    padding-left: 30px;
    font-size: large;
}
.sdiv5{
    margin: 15px;
    width: 380px;
    height: 525px;
}
.img7{
    width: 224px;
    height: 197px;
}
.logo19{
    padding-left: 30px;
}
.logo20{
    padding-left: 30px;
    font-size: large;
}
.logo21{
    padding-left: 30px;
}
.logo22{
    padding-left: 30px;
    font-size: large;
}
.sdiv6{
    margin: 15px;
    width: 380px;
    height: 525px;
}
.img8{
    width: 156px;
    height: 131px;
}
.DIV2{
    display: flex;
    justify-content: center;
}
.Box{
    background-color: rgb(224, 243, 255);
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
.logo23{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 40px;
    text-align: center;
    color: rgb(54, 101, 255);
    background-color: rgb(224, 243, 255);
}
.Box1{
    padding-top: 100px;
    margin: 30px;
    width: 380px;
    height: 300px;
}
.Box2{
    padding-top: 100px;
    margin: 30px;
    width: 380px;
    height: 300px;
}
.Box3{
    padding-top: 100px;
    margin: 30px;
    width: 380px;
    height: 300px;
}
.logo24{
    text-align: center;
}
.logo26{
    text-align: center;
}
.logo28{
    text-align: center;
}
.logo25{
    text-align: center;
}
.logo27{
    text-align: center;
}
.logo29{
    text-align: center;
}
.img9{
    margin-left: 170px;
}
.img10{
    margin-left: 160px;
}
.img11{
    margin-left: 150px;
}
.Doston{
    width: 50%;
    height: 600px;
    padding-left: 40px;
}
.logo30{
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img12{
    width: 399px;
    height: 519px;
    display: inline;
}
.img13{
    float: right;
    padding-top: 130px;
    margin-right: 700px;
}
.imge1{
    display: inline;
}
.dastik{
    float: right;

}
.logo31{
    padding-top: 250px;
    margin-right: 250px;
    color: grey;
}
.logo32{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.damas{
    width: 100%;
    height: 600px;
    padding-left: 150px;
}
.Lacetti{
    width: 30%;
    margin-right: 300px;
    height: 600px;
    float: right;
}
.logo34{
    width: 800px;
    margin-right: 200px;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo33{
    margin-top: 100px;
    text-align: center;
    font-size: 33px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img15{
    padding-left: 70px;
}
.Doston1{
    background-color: rgb(34, 189, 255);
    width: 100%;
    height: 450px;
    display: flex;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dastik1{
    justify-content: center;
    font-size: x-large;
    margin-top: 100px;
    margin-left: 100px;
    width: 15%;
    height: 300px; 
}
.dastik2{
    justify-content: center;
    font-size: x-large;
    margin: 70px;
    width: 15%;
    height: 300px;
}
.logo37{
    text-decoration: none;
    color: white;
}
.logo38{
    text-decoration: none;
    color: white;
}
.logo40{
    text-decoration: none;
    color: white;
}
.logo41{
    text-decoration: none;
    color: white;
}
.logo42{
    text-decoration: none;
    color: white;
}
.logo43{
    text-decoration: none;
    color: white;
}
.logo44{
    text-decoration: none;
    color: white;
}
.logo35{
    padding-left: 150px;
    font-size: 40px;
    margin-top: 60px;
}
.logo36{
    color: white;
}
.logo39{
    color: white;
}